$accent: #03eeee

html,
body
  font-family: 'Montserrat', sans-serif
  font-size: 23px
  line-height: 1.1
  font-weight: 500
  color: #fff
  overflow-x: hidden

@mixin anim($anim, $reverseAnim, $delay, $reverseDelay)
  opacity: 0
  animation: $anim 1s ease $delay 1 forwards
  &.reverse
    opacity: 1
    animation: $reverseAnim 1s ease $reverseDelay 1 forwards

.container
  width: 100%
  max-width: 1125px
  padding: 0 15px
  margin: 0 auto
  @media screen and ( max-width: 768px )
    max-width: 576px

.wrapper
  position: relative
  width: 100vw
  min-height: 100vh
  background-color: #1e1d2f
  overflow: hidden
  @media screen and ( max-width: 768px )
    padding-bottom: 40px
  @media screen and ( max-width: 576px )
    padding-bottom: 10px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: linear-gradient(167.65deg, #1e1d2f 37%, #afccf4 109.02%)
    opacity: 0
    animation: fadeInBottomRight 1s ease 1s 1 forwards
  &.reverse
    &::before
      opacity: 1
      animation: fadeOutBottomRight 2s ease 0s 1 forwards

[data-parallax]
  transition: transform .2s